<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="it.almaviva.cordovaplugins.radaeepdf" version="1.0.0">

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <name>RadaeeCordova</name>
    <author>Paolo messina</author>
    <description>RadaeePDF cordova plugin, read pdf with native library!</description>
    <license>Apache LGPL</license>
    <keywords>pdf, open, inapppdf, radaee</keywords>

    <js-module src="www/radaeepdf.js" name="radaeePdf">
        <clobbers target="radaeePdf" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RadaeePDF" >
                <param name="android-package" value="it.almaviva.cordovaplugins.RadaeePDF"/>
            </feature>
        </config-file>

		<config-file target="AndroidManifest.xml" parent="application">
            <activity android:name="it.almaviva.cordovaplugins.ReaderActivity" 
            android:noHistory="true" 
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensor" >
            </activity>
            <meta-data android:name="DefaultFont" android:value="Roboto-Black.ttf" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
		<source-file src="android/ReaderActivity.java" target-dir="src/it/almaviva/cordovaplugins" />
		<source-file src="android/ReaderController.java" target-dir="src/it/almaviva/cordovaplugins" />
        <source-file src="android/RadaeePDF.java" target-dir="src/it/almaviva/cordovaplugins" />
        <source-file src="android/CustomFontButton.java" target-dir="src/it/almaviva/cordovaplugins" />
        <source-file src="android/CustomFontTextView.java" target-dir="src/it/almaviva/cordovaplugins" />
        <source-file src="android/ViewLib/libs/com.radaee.view.jar" target-dir="libs" />
        
        <source-file src="android/ViewLib/src/main/java/com/radaee/pdf/adv/Obj.java" target-dir="src/com/radaee/pdf/adv" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/pdf/adv/Ref.java" target-dir="src/com/radaee/pdf/adv" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/pdf/BMDatabase.java" target-dir="src/com/radaee/pdf" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/pdf/BMP.java" target-dir="src/com/radaee/pdf" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/pdf/DIB.java" target-dir="src/com/radaee/pdf" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/pdf/Document.java" target-dir="src/com/radaee/pdf" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/pdf/Global.java" target-dir="src/com/radaee/pdf" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/pdf/HWriting.java" target-dir="src/com/radaee/pdf" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/pdf/Ink.java" target-dir="src/com/radaee/pdf" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/pdf/Matrix.java" target-dir="src/com/radaee/pdf" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/pdf/Page.java" target-dir="src/com/radaee/pdf" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/pdf/PageContent.java" target-dir="src/com/radaee/pdf" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/pdf/Path.java" target-dir="src/com/radaee/pdf" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/pdf/SuperDoc.java" target-dir="src/com/radaee/pdf" />
        
        <source-file src="android/ViewLib/src/main/java/com/radaee/reader/PDFBotBar.java" target-dir="src/com/radaee/reader" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/reader/PDFCurlViewAct.java" target-dir="src/com/radaee/reader" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/reader/PDFLayoutView.java" target-dir="src/com/radaee/reader" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/reader/PDFMenu.java" target-dir="src/com/radaee/reader" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/reader/PDFTopBar.java" target-dir="src/com/radaee/reader" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/reader/PDFNavAct.java" target-dir="src/com/radaee/reader" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/reader/PDFViewAct.java" target-dir="src/com/radaee/reader" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/reader/PDFViewController.java" target-dir="src/com/radaee/reader" />
        
        <source-file src="android/ViewLib/src/main/java/com/radaee/util/ComboList.java" target-dir="src/com/radaee/util" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/util/ComboListAdt.java" target-dir="src/com/radaee/util" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/util/OutlineList.java" target-dir="src/com/radaee/util" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/util/OutlineListAdt.java" target-dir="src/com/radaee/util" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/util/PDFAESStream.java" target-dir="src/com/radaee/util" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/util/PDFAssetStream.java" target-dir="src/com/radaee/util" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/util/PDFFileStream.java" target-dir="src/com/radaee/util" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/util/PDFGridAdt.java" target-dir="src/com/radaee/util" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/util/PDFGridItem.java" target-dir="src/com/radaee/util" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/util/PDFGridThread.java" target-dir="src/com/radaee/util" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/util/PDFGridView.java" target-dir="src/com/radaee/util" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/util/PDFHttpStream.java" target-dir="src/com/radaee/util" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/util/PDFMemStream.java" target-dir="src/com/radaee/util" />
        <source-file src="android/ViewLib/src/main/java/com/radaee/util/PDFThumbView.java" target-dir="src/com/radaee/util" />
        
        <source-file src="android/ViewLib/src/main/java/fi/harism/curl/CurlMesh.java" target-dir="src/main/java/fi/harism/curl" />
        <source-file src="android/ViewLib/src/main/java/fi/harism/curl/CurlPage.java" target-dir="src/main/java/fi/harism/curl" />
        <source-file src="android/ViewLib/src/main/java/fi/harism/curl/CurlRenderer.java" target-dir="src/main/java/fi/harism/curl" />
        <source-file src="android/ViewLib/src/main/java/fi/harism/curl/CurlView.java" target-dir="src/main/java/fi/harism/curl" />
        
        <source-file src="android/ViewLib/src/main/jniLibs/arm64-v8a/librdpdf.so" target-dir="libs/arm64-v8a" />
        <source-file src="android/ViewLib/src/main/jniLibs/armeabi/librdpdf.so" target-dir="libs/armeabi" />
        <source-file src="android/ViewLib/src/main/jniLibs/armeabi-v7a/librdpdf.so" target-dir="libs/armeabi-v7a" />
        <source-file src="android/ViewLib/src/main/jniLibs/mips/librdpdf.so" target-dir="libs/mips" />
        <source-file src="android/ViewLib/src/main/jniLibs/mips64/librdpdf.so" target-dir="libs/mips64" />
        <source-file src="android/ViewLib/src/main/jniLibs/x86/librdpdf.so" target-dir="libs/x86" />
        <source-file src="android/ViewLib/src/main/jniLibs/x86_64/librdpdf.so" target-dir="libs/x86_64" />
        
        <!-- Import to include guava dependency -->
        <framework src="android/build-extras.gradle" custom="true" type="gradleReference" />
        
        <source-file src="android/res/layout/navigation_bar.xml" target-dir="res/layout" />
        <source-file src="android/res/layout/pdf_popup_layout.xml" target-dir="res/layout" />
        <source-file src="android/res/layout/pdf_popup_outcome_layout.xml" target-dir="res/layout" />
        
        <source-file src="android/res/layout/bar_act.xml" target-dir="res/layout" />
        <source-file src="android/res/layout/bar_annot.xml" target-dir="res/layout" />
        <source-file src="android/res/layout/bar_cmd.xml" target-dir="res/layout" />
        <source-file src="android/res/layout/bar_find.xml" target-dir="res/layout" />
        <source-file src="android/res/layout/bar_seek.xml" target-dir="res/layout" />
        <source-file src="android/res/layout/dlg_note.xml" target-dir="res/layout" />
        <source-file src="android/res/layout/dlg_outline.xml" target-dir="res/layout" />
        <source-file src="android/res/layout/dlg_pswd.xml" target-dir="res/layout" />
        <source-file src="android/res/layout/dlg_text.xml" target-dir="res/layout" />
        <source-file src="android/res/layout/item_outline.xml" target-dir="res/layout" />
        <source-file src="android/res/layout/pdf_curl.xml" target-dir="res/layout" />
        <source-file src="android/res/layout/pdf_fragment.xml" target-dir="res/layout" />
        <source-file src="android/res/layout/pdf_layout.xml" target-dir="res/layout" />
        <source-file src="android/res/layout/pdf_nav.xml" target-dir="res/layout" />
        <source-file src="android/res/layout/pop_combo.xml" target-dir="res/layout" />
        <source-file src="android/res/layout/pop_edit.xml" target-dir="res/layout" />
        <source-file src="android/res/layout/pop_view.xml" target-dir="res/layout" />
        
        <source-file src="android/res/raw/arimo" target-dir="res/raw" />
        <source-file src="android/res/raw/arimob" target-dir="res/raw" />
        <source-file src="android/res/raw/arimobi" target-dir="res/raw" />
        <source-file src="android/res/raw/arimoi" target-dir="res/raw" />
        <source-file src="android/res/raw/cmaps.dat" target-dir="res/raw" />
        <source-file src="android/res/raw/cmyk_rgb.dat" target-dir="res/raw" />
        <source-file src="android/res/raw/cousine" target-dir="res/raw" />
        <source-file src="android/res/raw/cousineb" target-dir="res/raw" />
        <source-file src="android/res/raw/cousinebi" target-dir="res/raw" />
        <source-file src="android/res/raw/cousinei" target-dir="res/raw" />
        <source-file src="android/res/raw/rdf008" target-dir="res/raw" />
        <source-file src="android/res/raw/rdf013" target-dir="res/raw" />
        <source-file src="android/res/raw/tinos" target-dir="res/raw" />
        <source-file src="android/res/raw/tinosb" target-dir="res/raw" />
        <source-file src="android/res/raw/tinosbi" target-dir="res/raw" />
        <source-file src="android/res/raw/tinosi" target-dir="res/raw" />
        <source-file src="android/res/raw/umaps.dat" target-dir="res/raw" />
        
        <source-file src="android/res/drawable/download_arrow.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/bar_back_image.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/pdf_popup_background.xml" target-dir="res/drawable" />
        <source-file src="android/res/drawable/pdf_popup_inner_border.xml" target-dir="res/drawable" />
        
        <source-file src="android/res/drawable/bar_back.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_annot_ellipse.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_annot_ink.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_annot_line.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_annot_note.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_annot_rect.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_back.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_cancel.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_done.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_ink.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_left.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_outline.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_perform.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_remove.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_right.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_search.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_select.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_view_dual.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_view_single.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_view_vert.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/btn_view.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/file03.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/folder0.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/folder1.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/folder2.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/menu_back.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/pdf_custom_stamp.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/pt_end.png" target-dir="res/drawable" />
        <source-file src="android/res/drawable/pt_start.png" target-dir="res/drawable" />
        
        <source-file src="android/fonts/Roboto-Black.ttf" target-dir="assets/fonts" />
        <source-file src="android/res/values/style_bar.xml" target-dir="res/values" />
        
        <hook type="after_prepare" src="hook/configure-android.js"/>
        
    </platform>

	<!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="RadaeePDF">
                <param name="ios-package" value="RadaeePDF"/>
            </feature>
        </config-file>
        <framework src="CoreMedia.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="libc++.dylib" />
        
        <source-file src="ios/RadaeePDF.m" />
        <header-file src="ios/RadaeePDF.h" />
        
        <source-file src="ios/NSObject/NSObject+PerformBlock.m" />
        <header-file src="ios/NSObject/NSObject+PerformBlock.h" />
        
        <source-file src="ios/PDFView/PDFReflowView.m" />
        <header-file src="ios/PDFView/PDFReflowView.h" />
        <source-file src="ios/PDFView/PDFThumbView.m" />
        <header-file src="ios/PDFView/PDFThumbView.h" />
        <source-file src="ios/PDFView/PDFV.m" />
        <header-file src="ios/PDFView/PDFV.h" />
        <source-file src="ios/PDFView/PDFVCanvas.m" />
        <header-file src="ios/PDFView/PDFVCanvas.h" />
        <source-file src="ios/PDFView/PDFVFinder.m" />
        <header-file src="ios/PDFView/PDFVFinder.h" />
        <source-file src="ios/PDFView/PDFVGlobal.m" />
        <header-file src="ios/PDFView/PDFVGlobal.h" />
        <source-file src="ios/PDFView/PDFView.m" />
        <header-file src="ios/PDFView/PDFView.h" />
        <source-file src="ios/PDFView/PDFVPage.m" />
        <header-file src="ios/PDFView/PDFVPage.h" />
        <source-file src="ios/PDFView/PDFVThread.m" />
        <header-file src="ios/PDFView/PDFVThread.h" />
        <source-file src="ios/PDFView/RDPDFViewController.m" />
        <header-file src="ios/PDFView/RDPDFViewController.h" />
        <resource-file src="ios/PDFView/RDPDFViewController.xib" />
        <resource-file src="ios/Resources/backImage.png" />
        
        <source-file src="ios/PDFLib/PDFObjc.m" />
        <header-file src="ios/PDFLib/PDFObjc.h" />
        <header-file src="ios/PDFLib/PDFIOS.h" />
        <source-file src="ios/PDFLib/libRDPDFLib.a" framework="true" />
        
        <resource-file src="ios/cmaps/cmaps.dat" />
        <resource-file src="ios/cmaps/umaps.dat" />
        
        <resource-file src="ios/fdat/00" />
        <resource-file src="ios/fdat/01" />
        <resource-file src="ios/fdat/02" />
        <resource-file src="ios/fdat/03" />
        <resource-file src="ios/fdat/04" />
        <resource-file src="ios/fdat/05" />
        <resource-file src="ios/fdat/06" />
        <resource-file src="ios/fdat/07" />
        <resource-file src="ios/fdat/08" />
        <resource-file src="ios/fdat/09" />
        <resource-file src="ios/fdat/10" />
        <resource-file src="ios/fdat/11" />
        <resource-file src="ios/fdat/12" />
        <resource-file src="ios/fdat/13" />
        <resource-file src="ios/fdat/argbsn00lp.ttf" />
        
    </platform>

</plugin>
